@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,400;1,800&display=swap');



*{
    color: green;
    font-weight: 400;
    font-family: 'Times New Roman';
    font-family: 'Shantell Sans', cursive;
    /*border-style: solid;*/
}

b {
    font-weight: 800; 
    font-family: 'Shantell Sans', cursive;
}

body{
    margin: 0;
    background-color: #333;

}


.console{
    margin: 10%;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: black;
}

#input{
    display: inline;
    border-style: none;
    background-color: black;
}

form input{
    background-color: black;
    width: auto; /* nebo na celou sirku*/
    border-style: none;
}

form input:focus{
    border-style: none;
}

.text{
    margin: 0px 2%;
    padding: 0%;
}

