
/*
*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: greenyellow;
}*/

*{
    color: green;
    font-weight: bold;
    font-family: 'Times New Roman';
    /*border-style: solid;*/
}

body{
    margin: 0;
    background-color: #333;
    
}

/*.input_form{ 
    border-style: hidden;
    border: #fff;
    border-width: 10px;
}*/

.console{
    margin: 10%;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: black;
}

#input{
    display: inline;
    border-style: none;
    background-color: black;
}

form input{
    background-color: black;
    width: auto; /* nebo na celou sirku*/
    border-style: none;
}

form input:focus{
    border-style: none;
}

.text{
    margin: 0px 2%;
    padding: 0%;
}



/*form input[type=text]{
    width: 300px;
    margin-bottom: 20px;
    font-size: 20px;
    border: 0;
    padding: 5px 7px;
    }
  
form input[type=text]:focus {
    color: yellow;
}
*/
